# Gemini API Keys
GEMINI_API_KEY_1=your-gemini-api-key-here
GEMINI_API_KEY_2=your-gemini-api-key-here
GEMINI_API_KEY_3=your-gemini-api-key-here
GEMINI_API_KEY_4=your-gemini-api-key-here
GEMINI_API_KEY_5=your-gemini-api-key-here
GEMINI_API_KEY_6=your-gemini-api-key-here
GEMINI_API_KEY_7=your-gemini-api-key-here
GEMINI_API_KEY_8=your-gemini-api-key-here
GEMINI_API_KEY_9=your-gemini-api-key-here
GEMINI_API_KEY_10=your-gemini-api-key-here

# Gemini Models
Gemini_Pro=gemini-2.0-pro-exp-02-05
Gemini_Thinking=gemini-2.0-flash-thinking-exp-01-21
